In [1]:
import numpy as np
import pandas as pd
import glob
import os
import re
import time

In [2]:
def get_suffix(inputstring):
    splitted = re.split('[\W_]+',str(inputstring))
    return_list = []
    for i in range(len(splitted)):
        return_list.append(' '.join(splitted[i:len(splitted)]))
    return return_list

In [3]:
data_path = "data/aol-data/"
dir_list = sorted(os.listdir(data_path))
dir_list

['user-ct-test-collection-01.txt',
 'user-ct-test-collection-02.txt',
 'user-ct-test-collection-03.txt',
 'user-ct-test-collection-04.txt',
 'user-ct-test-collection-05.txt',
 'user-ct-test-collection-06.txt',
 'user-ct-test-collection-07.txt',
 'user-ct-test-collection-08.txt',
 'user-ct-test-collection-09.txt',
 'user-ct-test-collection-10.txt']

In [4]:
df_from_files = []
for file in dir_list:
    print(data_path + "" +file)
    df = pd.read_csv(data_path + "" +file, delimiter="\t")
    df_from_files.append(df)

df = pd.concat(df_from_files, axis = 0, ignore_index = True)
df_from_files = []
df.columns

data/aol-data/user-ct-test-collection-01.txt
data/aol-data/user-ct-test-collection-02.txt
data/aol-data/user-ct-test-collection-03.txt
data/aol-data/user-ct-test-collection-04.txt
data/aol-data/user-ct-test-collection-05.txt
data/aol-data/user-ct-test-collection-06.txt
data/aol-data/user-ct-test-collection-07.txt
data/aol-data/user-ct-test-collection-08.txt

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/aol-data/user-ct-test-collection-09.txt
data/aol-data/user-ct-test-collection-10.txt

Index(['AnonID', 'Query', 'QueryTime', 'ItemRank', 'ClickURL'], dtype='object')

In [5]:
len(df.loc[range(100)])
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36389567 entries, 0 to 36389566
Data columns (total 5 columns):
AnonID       object
Query        object
QueryTime    object
ItemRank     object
ClickURL     object
dtypes: object(5)
memory usage: 1.4+ GB

In [9]:
smaller_df = df.loc[range(1000)]
smaller_df.set_index(['AnonID','Query'], inplace=True)

start_time = time.time()
smaller_df['AnonID'] = pd.to_numeric(smaller_df['AnonID'])
smaller_df['Query'] = smaller_df['Query'].to_string()

smaller_df['QueryTime'] = pd.to_datetime(smaller_df['QueryTime'])
smaller_df['QueryDiff'] = smaller_df.sort_values(['AnonID','Query','QueryTime']).groupby(['AnonID','Query'])['QueryTime'].diff()

session_killed = smaller_df[~(smaller_df['QueryDiff'] <'00:30:00')]

elapsed_time = time.time() - start_time

print("Het duurde: " + str(elapsed_time));
smaller_df.info(verbose=True)

KeyError: 'AnonID'

In [67]:
# 9.06090259552002 voor alle groepen groupby
# 9.15334939956665  voor 
df.loc[range(100)].groupby("AnonID")['QueryTime'].diff()

ValueError:

In [ ]:
filename = "data/session_seperated_all.txt"

In [ ]:
file = open(filename,"w")

for query in session_killed["Query"]:
    splitted = get_suffix(query)
    for suffix in splitted:
        if suffix == "":
            continue
        file.write(suffix + "\n")
file.close()

In [118]:
len(df)

36389567

In [122]:
small_df = df.loc[range(1000)]
small_df['QueryTime'] = pd.to_datetime(smaller_df['QueryTime'])
small_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
AnonID       1000 non-null object
Query        1000 non-null object
QueryTime    1000 non-null datetime64[ns]
ItemRank     598 non-null object
ClickURL     598 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 46.9+ KB

In [140]:
start_time = time.time()
smaller_df = df.loc[range(10000000)]
smaller_df['QueryTime'] = pd.to_datetime(smaller_df['QueryTime'])
smaller_df.set_index(['AnonID', 'Query'],inplace=True)
smaller_df.sort_index(inplace=True)
elapsed_time = time.time() - start_time
print(elapsed_time)
smaller_df

19.688730001449585

                                                  QueryTime ItemRank  \
AnonID   Query
142      207 ad2d 530                   2006-04-08 01:31:04      NaN
         207 ad2d 530                   2006-04-08 01:31:14        1
         attornyleslie.com              2006-04-13 00:25:27      NaN
         broadway.vera.org              2006-04-08 08:38:23      NaN
         broadway.vera.org              2006-04-08 08:38:31      NaN
         broadway.vera.org              2006-04-08 08:39:30      NaN
         dfdf                           2006-03-24 22:23:07      NaN
         dfdf                           2006-03-24 22:23:14      NaN
         frankmellace.com               2006-04-09 02:19:24      NaN
         loislaw.com                    2006-05-12 22:43:36      NaN
         merit release appearance       2006-04-22 23:51:18      NaN
         rapny.com                      2006-05-18 09:21:57      NaN
         rentdirect.com                 2006-03-01 07:17:12      NaN
         space.comhttp                  2006-03-24 20:51:24      NaN
         staple.com                     2006-03-17 21:19:29      NaN
         staple.com                     2006-03-17 21:19:45      NaN
         ucs.ljx.com                    2006-04-09 02:20:44      NaN
         vaniqa.comh                    2006-03-25 23:27:12      NaN
         vera.org                       2006-04-08 08:38:42        1
         westchester.gov                2006-03-20 03:55:57        1
         whitepages.com                 2006-05-19 19:36:31      NaN
         www.bonsai.wbff.org            2006-05-06 08:49:34      NaN
         www.collegeucla.edu            2006-04-03 21:12:14      NaN
         www.elaorg                     2006-04-03 21:25:20      NaN
         www.newyorklawyersite.com      2006-03-18 08:02:58      NaN
         www.newyorklawyersite.com      2006-03-18 08:03:09      NaN
         www.prescriptionfortime.com    2006-03-12 12:31:06      NaN
144      boston redsoxweb page.com      2006-03-28 17:51:55      NaN
         car rentals                    2006-03-01 18:22:49      NaN
         florida health care proxy      2006-05-13 08:58:57      NaN
...                                                     ...      ...
24967491 -                              2006-05-31 21:14:17        1
         ed.d                           2006-05-31 21:18:54      NaN
         ed.d                           2006-05-31 21:18:54      NaN
         mba                            2006-05-31 21:16:40        4
24967503 www.yah                        2006-05-31 11:02:11      NaN
24967641 dicontinued dishes             2006-05-31 14:29:38      NaN
         donut pillow                   2006-05-31 14:08:53      NaN
         happy 20holidays 20by 20nikko  2006-05-31 14:34:19      NaN
         happy 20holidays 20china       2006-05-31 14:34:44      NaN
         replaceit.com                  2006-05-31 14:29:12      NaN
24967672 -                              2006-05-31 16:19:57        1
24967786 www.giantfoods.com             2006-05-31 09:42:18      NaN
24968114 -                              2006-05-31 01:04:20      NaN
24968270 -                              2006-05-31 16:56:21      NaN
24968272 -                              2006-05-31 11:18:34      NaN
         -                              2006-05-31 11:18:47      NaN
24968286 games                          2006-05-31 17:28:45      NaN
24968768 www.riteaid..com               2006-05-31 14:48:33      NaN
24969002 www. 1 .com                    2006-05-31 21:17:10      NaN
24969251 sp.trafficmarketplace.com      2006-05-31 15:51:23      NaN
24969374 baltimore marinas              2006-05-31 12:43:40      NaN
         orioles tickets                2006-05-31 12:24:51      NaN
         orioles tickets                2006-05-31 12:31:57        2
24969423 jennifer craford my space.com  2006-05-31 19:15:02      NaN
         jennifer crawford my space.com 2006-05-31 19:16:05      NaN
         my space. com                  2006-05-31 19:03:32        2
         my space. com 3131560415       2006-05-31 19:02:36      NaN
         my space. com 3131560415       2006-05-31 19:03:16      NaN
         my space.com                   2006-05-31 19:12:00      NaN
         my space.com 3131560415        2006-05-31 19:12:25      NaN

                                                              ClickURL
AnonID   Query
142      207 ad2d 530                                              NaN
         207 ad2d 530                    http://www.courts.state.ny.us
         attornyleslie.com                                         NaN
         broadway.vera.org                                         NaN
         broadway.vera.org                                         NaN
         broadway.vera.org                                         NaN
         dfdf                                                      NaN
         dfdf                                                      NaN
         frankmellace.com                                          NaN
         loislaw.com                                               NaN
         merit release appearance                                  NaN
         rapny.com                                                 NaN
         rentdirect.com                                            NaN
         space.comhttp                                             NaN
         staple.com                                                NaN
         staple.com                                                NaN
         ucs.ljx.com                                               NaN
         vaniqa.comh                                               NaN
         vera.org                                  http://www.vera.org
         westchester.gov                 http://www.westchestergov.com
         whitepages.com                                            NaN
         www.bonsai.wbff.org                                       NaN
         www.collegeucla.edu                                       NaN
         www.elaorg                                                NaN
         www.newyorklawyersite.com                                 NaN
         www.newyorklawyersite.com                                 NaN
         www.prescriptionfortime.com                               NaN
144      boston redsoxweb page.com                                 NaN
         car rentals                                               NaN
         florida health care proxy                                 NaN
...                                                                ...
24967491 -                                          http://www.cnn.com
         ed.d                                                      NaN
         ed.d                                                      NaN
         mba                                  http://www.mbajungle.com
24967503 www.yah                                                   NaN
24967641 dicontinued dishes                                        NaN
         donut pillow                                              NaN
         happy 20holidays 20by 20nikko                             NaN
         happy 20holidays 20china                                  NaN
         replaceit.com                                             NaN
24967672 -                                       http://www.google.com
24967786 www.giantfoods.com                                        NaN
24968114 -                                                         NaN
24968270 -                                                         NaN
24968272 -                                                         NaN
         -                                                         NaN
24968286 games                                                     NaN
24968768 www.riteaid..com                                          NaN
24969002 www. 1 .com                                               NaN
24969251 sp.trafficmarketplace.com                                 NaN
24969374 baltimore marinas                                         NaN
         orioles tickets                                           NaN
         orioles tickets                     http://www.greatseats.com
24969423 jennifer craford my space.com                             NaN
         jennifer crawford my space.com                            NaN
         my space. com                        http://music.myspace.com
         my space. com 3131560415                                  NaN
         my space. com 3131560415                                  NaN
         my space.com                                              NaN
         my space.com 3131560415                                   NaN

[10000000 rows x 3 columns]

In [ ]:
# 1.1317806243896484 transform(pd...)