In [1]:
import pandas as pd
import numpy as np
import re
from nltk.util import ngrams
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_csv("data/cleaned_queries_background.csv", header = None)

In [5]:
s = ["hallo dit is een erg leuk project", "ik weet niet wat ik verder moet typen", "maar we typen rustig door"]

In [35]:
data = df[1].astype(str)

In [8]:

# min_df --> in hoeveel regels moet(en) woord(en) minimaal voorkomen (dus nu min 1)
# max_df --> in hoeveel procent mag/mogen woord/woorden maximaal voorkomen (dus nu 70%)
tfidf = TfidfVectorizer(min_df=1000, max_df=0.7, ngram_range=(1,6))
features = tfidf.fit_transform(s)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

,dit,dit is,dit is een,dit is een erg,dit is een erg leuk,dit is een erg leuk project,door,een,een erg,een erg leuk,...,we,we typen,we typen rustig,we typen rustig door,weet,weet niet,weet niet wat,weet niet wat ik,weet niet wat ik verder,weet niet wat ik verder moet
0,0.19245,0.19245,0.19245,0.19245,0.19245,0.19245,0.000000,0.19245,0.19245,0.19245,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.170058,0.170058,0.170058,0.170058,0.170058,0.170058
2,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.261906,0.00000,0.00000,0.00000,...,0.261906,0.261906,0.261906,0.261906,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
tfidf = TfidfVectorizer(ngram_range=(1,6))
features = tfidf.fit(data)

In [48]:
data

0                                                           0
1                                              rentdirect com
2                                 www prescriptionfortime com
3                                                  staple com
4                                   www newyorklawyersite com
5                                             westchester gov
6                                               space comhttp
7                                                        dfdf
8                                                 vaniqa comh
9                                         www collegeucla edu
10                                                 www elaorg
11                                               207 ad2d 530
12                                          broadway vera org
13                                                   vera org
14                                          broadway vera org
15                                           frankmellace com
16                                                ucs ljx com
17                                          attornyleslie com
18                                   merit release appearance
19                                                    lottery
20                                             ameriprise com
21                                                    susheme
22                                                 united com
23                                                 mizuno com
24                                                     p p p
25                                       asiansexygoddess com
26                                                   buddylis
27                                       bestasiancompany com
28                                                    lottery
29                                                    lottery
                                  ...
14517216                         playboy bunny coloring pages
14517217                                  baby coloring pages
14517218                                  kids coloring pages
14517219                           hello kitty coloring pages
14517220                                          www myspace
14517221                                          belly rings
14517222                                     1 99 belly rings
14517223                                                  fox
14517224                                     fox obel chicago
14517225                                      travelocity com
14517226                                      phoenix birding
14517227                                       hawaii birding
14517228                             hawaii bed and breakfast
14517229                                   focus on jerusalem
14517230                                          busty girls
14517231                                           chubbytand
14517232                                           chubbyland
14517233
14517234                                www schoolmatters com
14517235                                              www com
14517236                                 www stringbikini com
14517237                                      www verizon net
14517238                                         www verizon
14517239                                    takingback sunday
14517240                                   taking back sunday
14517241                    who is going to be at warped tour
14517242         who is going to be at warped tour on july 12
14517243    does taking back sunday have a concert in los ...
14517244                                   www mypay dfas mil
14517245                                           google com
Name: 1, Length: 14517246, dtype: object

In [7]:
analyzer = tfidf.build_analyzer()

In [63]:
del data

In [37]:
ngramdict = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

In [ ]:
import csv
with open('data/ngram_dict.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in ngramdict.items():
        writer.writerow([key, value])