In [1]:
import pandas as pd
import numpy as np

In [5]:
traininglog = pd.read_csv("data/removed_session_training.csv", header=None)

In [32]:
sortedpopular = traininglog.groupby([1]).size().sort_values(ascending=False)
sortedpopular = sortedpopular.reset_index(name="counts")
sortedpopular.nlargest(10, 'counts')

               1  counts
0         google   30536
1           ebay   15936
2          yahoo   12838
3       mapquest   10694
4      yahoo.com    9954
5    myspace.com    8761
6        myspace    8420
7     google.com    7925
8       internet    4732
9  www.yahoo.com    4350

In [33]:
query = input("Query:").lower()
sortedpopular[sortedpopular[1].str.startswith(query)].nlargest(10, 'counts')

Query:www.goo

                       1  counts
10        www.google.com    4078
39            www.google    1381
409        www.googl.com     230
436        www.google.cm     221
478        www.google.co     202
618              www.goo     163
632       www.google com     159
793        www.googlecom     131
1033       www.google.om     104
1368  www.google.comhttp      84