In [1]:
import numpy as np
import pandas as pd
import glob
import os

In [8]:
def get_suffix(inputstring):
    splitted = str(inputstring).split(' ') 
    return_list = []
    for i in range(len(splitted)):
        return_list.append(' '.join(splitted[i:len(splitted)]))
    return return_list

In [3]:
data_path = "data/aol-data/"
dir_list = sorted(os.listdir(data_path))
dir_list

['user-ct-test-collection-01.txt',
 'user-ct-test-collection-02.txt',
 'user-ct-test-collection-03.txt',
 'user-ct-test-collection-04.txt',
 'user-ct-test-collection-05.txt',
 'user-ct-test-collection-06.txt',
 'user-ct-test-collection-07.txt',
 'user-ct-test-collection-08.txt',
 'user-ct-test-collection-09.txt',
 'user-ct-test-collection-10.txt']

In [5]:
df_from_files = []
for file in dir_list:
    print(data_path + "" +file)
    df = pd.read_csv(data_path + "" +file, delimiter="\t")
    df_from_files.append(df)

df = pd.concat(df_from_files, axis = 0, ignore_index = True)

data/aol-data/user-ct-test-collection-01.txt
data/aol-data/user-ct-test-collection-02.txt
data/aol-data/user-ct-test-collection-03.txt
data/aol-data/user-ct-test-collection-04.txt
data/aol-data/user-ct-test-collection-05.txt
data/aol-data/user-ct-test-collection-06.txt
data/aol-data/user-ct-test-collection-07.txt
data/aol-data/user-ct-test-collection-08.txt

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/aol-data/user-ct-test-collection-09.txt
data/aol-data/user-ct-test-collection-10.txt

In [6]:
query_data = df['Query']
query_data = query_data.drop_duplicates()
len(query_data)

10154741

In [15]:
small_query = []
df = []

In [ ]:
result = query_data.apply(get_suffix)
suffices = result.apply(pd.Series,1).stack()

In [13]:
suffices

0       0                    rentdirect.com
1       0       www.prescriptionfortime.com
2       0                        staple.com
4       0         www.newyorklawyersite.com
6       0                   westchester.gov
7       0                     space.comhttp
8       0                              dfdf
10      0                       vaniqa.comh
11      0               www.collegeucla.edu
12      0                        www.elaorg
13      0                      207 ad2d 530
        1                          ad2d 530
        2                               530
15      0                 broadway.vera.org
17      0                          vera.org
19      0                  frankmellace.com
20      0                       ucs.ljx.com
21      0                 attornyleslie.com
22      0          merit release appearance
        1                release appearance
        2                        appearance
23      0               www.bonsai.wbff.org
24      0                       loislaw.com
25      0                         rapny.com
26      0                    whitepages.com
27      0                           lottery
29      0                    ameriprise.com
30      0                           susheme
31      0                        united.com
32      0                        mizuno.com
                          ...
264168  1                     overnight.com
264171  0                  register to vote
        1                           to vote
        2                              vote
264174  0          ioe-am.metsominerals.com
264175  0           www.ltd.commodities.com
264176  0     www.nationalcitypayonline.com
264177  0        www.nationalcitypaynow.com
264178  0          www.nationalcitybank.com
264179  0    hacienda tecalitlan chicago il
        1             tecalitlan chicago il
        2                        chicago il
        3                                il
264180  0                     baptism gowns
        1                             gowns
264181  0                      baby jewelry
        1                           jewelry
264184  0         www.ostermannsjewelry.com
264186  0                  motehers jewelry
        1                           jewelry
264187  0            personalized keepsakes
        1                         keepsakes
264203  0           www.babysfirstquilt.com
264205  0          www.personalcraetion.com
264213  0                 www.univision.vom
264214  0                www.giftfinder.com
264216  0        www.gasstationschicago.com
264217  0         www.floralarrangement.com
264221  0                  portrait studios
        1                           studios
Length: 286762, dtype: object

0   0            eddie bauer women's shorts
    1                  bauer women's shorts
    2                        women's shorts
    3                                shorts
3   0    faulkner county library- conway ar
    1             county library- conway ar
    2                    library- conway ar
    3                             conway ar
    4                                    ar
4   0                              mapquest
5   0                       map of new york
    1                           of new york
    2                              new york
    3                                  york
6   0                           adirondacks
8   0                                 lulac
10  0                    southwest airlines
    1                              airlines
11  0                 cheap airline tickets
    1                       airline tickets
    2                               tickets
13  0                       new york hotels
    1                           york hotels
    2                                hotels
14  0           hotels in new york new york
    1                  in new york new york
    2                     new york new york
    3                         york new york
    4                              new york
    5                                  york
dtype: object

"eddie bauer women's shorts"